.workBackground {
  overflow: auto;
  padding: 0.5rem 2rem 1rem 3rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.workTitle {
  font-family: "Cutive Mono", monospace;
  color: rgb(188, 112, 115);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15.75rem 0 0.25rem 0;
  text-align: center;
  z-index: 0;
  text-decoration: none;
  border-bottom: 2px dotted rgb(188, 112, 115);

  .workTitle:hover {
    border-bottom: 2px dotted rgba(13, 11, 12, 0.4);
    color: rgb(13, 11, 12);
    transition: 0.4s;
  }
}

.workText {
  line-height: 1.75rem;
  font-size: 1.05rem;
  margin: 0.5rem 1.05rem 0.25rem 1.05rem;
}

.workSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.85rem;
  flex-direction: row;
  text-transform: uppercase;

  li {
    background-color: rgb(188, 112, 115);
    color: rgb(233, 225, 225);
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    margin: 0.75rem 0.5rem 0 0;
  }
}

.workBreak {
  color: rgb(13, 11, 12);
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.incollabMacbook {
  height: 400px;
  bottom: 17rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.incollabIphone {
  height: 225px;
  bottom: 22.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.tugMacbook {
  height: 400px;
  top: 30rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.tugIphone {
  height: 225px;
  top: 35.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.mealMacbook {
  height: 400px;
  top: 57.5rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.mealIphone {
  height: 225px;
  top: 63rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.mineMacbook {
  height: 400px;
  top: 85rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.mineIphone {
  height: 225px;
  top: 90.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.workReferences {
  background-color: rgb(188, 112, 115);
  color: rgb(233, 225, 225);
  border-radius: 0.5rem;
  font-size: 0.85rem;
  padding: 2rem;
  margin: 1rem 0 0.75rem 0;
  line-height: 1.75rem;
  text-align: justify;

  span {
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.workReferee {
  height: 100px;
  right: 40%;
  margin: 0.5rem 0 0 0;
  border-radius: 50%;
  position: absolute;
}

.workName {
  right: 31%;
  margin: 7.25rem 0 1rem 0;
  position: absolute;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  color: rgb(13, 11, 12);
}

.workRefereeTitle {
  right: 35%;
  margin: 8.75rem 0 1.75rem 0;
  position: absolute;
  font-size: 0.85rem;
  color: rgb(13, 11, 12);
  border-bottom: 2px dotted rgba(188, 112, 115, 0.4);
  color: rgb(188, 112, 115);
  font-weight: bold;
  text-decoration: none;
}

.workRefereeTitle:hover {
  border-bottom: 2px dotted rgba(13, 11, 12, 0.4);
  color: rgb(13, 11, 12);
  transition: 0.4s;
}
