.workBackground {
  overflow: auto;
  padding: 0.5rem 2rem 1rem 3rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.workTitle {
  font-family: "Cutive Mono", monospace;
  color: rgb(188, 112, 115);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15.75rem 0 0.25rem 0;
  text-align: center;
  z-index: 0;
  text-decoration: none;
  border-bottom: 2px dotted rgb(188, 112, 115);

  .workTitle:hover {
    border-bottom: 2px dotted rgba(13, 11, 12, 0.4);
    color: rgb(13, 11, 12);
    transition: 0.4s;
  }
}

.workText {
  line-height: 1.75rem;
  font-size: 1.05rem;
  margin: 0.5rem 1.05rem 0.25rem 1.05rem;
}

.workSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.85rem;
  flex-direction: row;
  text-transform: uppercase;

  li {
    background-color: rgb(188, 112, 115);
    color: rgb(233, 225, 225);
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    margin: 0.75rem 0.5rem 0 0;
  }
}

.workBreak {
  color: rgb(13, 11, 12);
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
}

.incollabMacbook {
  height: 400px;
  bottom: 17rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.incollabIphone {
  height: 225px;
  bottom: 22.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.tugMacbook {
  height: 400px;
  top: 30rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.tugIphone {
  height: 225px;
  top: 35.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.mealMacbook {
  height: 400px;
  top: 57.5rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.mealIphone {
  height: 225px;
  top: 63rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.mineMacbook {
  height: 400px;
  top: 85rem;
  right: 22%;
  position: absolute;
  z-index: -1;
}

.mineIphone {
  height: 225px;
  top: 90.5rem;
  right: 5%;
  position: absolute;
  z-index: -2;
}

.workReferences {
  background-color: rgb(188, 112, 115);
  color: rgb(233, 225, 225);
  border-radius: 0.5rem;
  font-size: 0.85rem;
  padding: 2rem;
  margin: 1rem 0 0.75rem 0;
  line-height: 1.75rem;
  text-align: justify;

  span {
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.workReferee {
  height: 100px;
  right: 40%;
  margin: 0.5rem 0 0 0;
  border-radius: 50%;
  position: absolute;
}

.workName {
  right: 31%;
  margin: 7.25rem 0 1rem 0;
  position: absolute;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  color: rgb(13, 11, 12);
}

.workRefereeTitle {
  right: 35%;
  margin: 8.75rem 0 1.75rem 0;
  position: absolute;
  font-size: 0.85rem;
  color: rgb(13, 11, 12);
  border-bottom: 2px dotted rgba(188, 112, 115, 0.4);
  color: rgb(188, 112, 115);
  font-weight: bold;
  text-decoration: none;
}

.workRefereeTitle:hover {
  border-bottom: 2px dotted rgba(13, 11, 12, 0.4);
  color: rgb(13, 11, 12);
  transition: 0.4s;
}

// --------------------> MEDIA QUERIES

@media only screen and (min-width: 1366px) {
  .incollabMacbook {
    bottom: 43rem;
    right: 22%;
  }

  .incollabIphone {
    bottom: 48.5rem;
    left: 56%;
  }

  .tugMacbook {
    top: 29.75rem;
    right: 22%;
  }

  .tugIphone {
    top: 35.25rem;
    left: 56%;
  }

  .mealMacbook {
    top: 57.25rem;
    right: 22%;
  }

  .mealIphone {
    top: 62.75rem;
    left: 56%;
  }

  .mineMacbook {
    top: 85rem;
    right: 22%;
  }

  .mineIphone {
    top: 90.5rem;
    left: 56%;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .incollabMacbook {
    bottom: 64.5rem;
    right: 14%;
  }

  .incollabIphone {
    bottom: 70rem;
    left: 57%;
  }

  .tugMacbook {
    top: 34rem;
    right: 14%;
  }

  .tugIphone {
    top: 39.5rem;
    left: 57%;
  }

  .mealMacbook {
    top: 64.5rem;
    right: 14%;
  }

  .mealIphone {
    top: 70rem;
    left: 57%;
  }

  .mineMacbook {
    top: 93.5rem;
    right: 14%;
  }

  .mineIphone {
    top: 99rem;
    left: 57%;
  }

  .workRefereeTitle {
    margin: 8.75rem 0 1.25rem 0;
  }

  .workSkills {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .incollabMacbook {
    bottom: 27.25rem;
    right: 14%;
  }

  .incollabIphone {
    bottom: 32.75rem;
    left: 57%;
  }
}

@media only screen and (max-width: 768px) {
  .workTitle {
    padding: 13.75rem 0 0.25rem 0;
  }

  .workText {
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  .incollabMacbook {
    height: 325px;
    bottom: 46.5rem;
    right: 9%;
  }

  .incollabIphone {
    height: 175px;
    bottom: 51.25rem;
    left: 59%;
  }

  .tugMacbook {
    height: 325px;
    top: 39.62rem;
    right: 9%;
  }

  .tugIphone {
    height: 175px;
    top: 44.25rem;
    left: 59%;
  }

  .mealMacbook {
    height: 325px;
    top: 69.62rem;
    right: 9%;
  }

  .mealIphone {
    height: 175px;
    top: 74.25rem;
    left: 59%;
  }

  .mineMacbook {
    height: 325px;
    top: 101.62rem;
    right: 9%;
  }

  .mineIphone {
    height: 175px;
    top: 106.25rem;
    left: 59%;
  }

  .workSkills {
    justify-content: space-between;
  }

  .workReferee {
    right: 34%;
    margin: 0.5rem 0 0 0;
  }

  .workName {
    right: 20%;
    margin: 7.25rem 0 1rem 0;
  }

  .workRefereeTitle {
    right: 26%;
    margin: 8.75rem 0 1.25rem 0;
  }
}

@media only screen and (max-width: 375px) {
  .workBackground {
    overflow-x: hidden;
    height: 58%;
    top: 42%;
    width: 100%;
    right: 7.5%;
  }

  .workTitle {
    padding: 12rem 0 0.25rem 0;
  }

  .workText {
    margin: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  .incollabMacbook {
    height: 300px;
    bottom: 4rem;
    right: 13%;
  }

  .incollabIphone {
    height: 175px;
    bottom: 8rem;
    left: 58%;
  }

  .tugMacbook {
    height: 300px;
    top: 38.25rem;
    right: 13%;
  }

  .tugIphone {
    height: 175px;
    top: 42rem;
    left: 58%;
  }

  .mealMacbook {
    height: 300px;
    top: 66.75rem;
    right: 13%;
  }

  .mealIphone {
    height: 175px;
    top: 70.5rem;
    left: 58%;
  }

  .mineMacbook {
    height: 300px;
    top: 97.25rem;
    right: 13%;
  }

  .mineIphone {
    height: 175px;
    top: 101rem;
    left: 58%;
  }

  .workSkills {
    justify-content: space-evenly;
  }

  .workReferee {
    right: 33.5%;
    margin: 0.5rem 0 0 0;
  }

  .workName {
    right: 17%;
    margin: 7.25rem 0 1rem 0;
  }

  .workRefereeTitle {
    right: 20%;
    margin: 8.75rem 0 1.25rem 0;
  }
}
