.contactBackground {
  overflow: auto;
  padding: 1rem 2rem 1rem 3rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.contactForm {
  text-transform: uppercase;
  font-size: 0.85rem;
  background-color: rgb(188, 112, 115);
  border-radius: 0.5rem;
  margin: 0.8rem 1.5rem 0 1.5rem;

  input {
    padding: 1rem;
    margin: 2.5rem 2rem 1rem 3rem;
    font-family: "Gupter", serif;
    font-size: 1.05rem;
    border: none;
    border-radius: 0.5rem;
  }

  input:focus {
    border-bottom: 4px solid rgb(13, 11, 12);
    outline: none;
  }

  textarea:focus,
  select:focus {
    outline: none;
  }

  ::placeholder {
    font-family: "Gupter", serif;
    color: rgb(13, 11, 12);
    text-transform: uppercase;
    font-size: 0.85rem;
  }

  .formName {
    width: 40%;
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  .formEmail {
    width: 40%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .formSubject {
    width: 81.5%;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .formMessage {
    width: 81.5%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    word-break: unset;
    margin: 0 0 0 3rem;
    font-family: "Gupter", serif;
    line-height: 1.75rem;
    font-size: 1.05rem;
  }

  .formMessage:focus {
    border-bottom: 4px solid rgb(13, 11, 12);
  }

  button {
    background-color: rgb(247, 201, 219);
    color: rgb(13, 11, 12);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 4rem 0.5rem 4em;
    margin: 0.5rem 2.5rem 2rem 0;
    float: right;
    text-transform: uppercase;
    font-family: "Gupter", serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
  }

  button:hover {
    background-color: rgb(13, 11, 12);
    color: rgb(247, 201, 219);
  }

  p {
    float: right;
  }
}

// --------------------> MEDIA QUERIES

@media only screen and (min-width: 1366px) {
  .contactForm {
    margin: 0.8rem 0.5rem 0 0.25rem;

    input {
      margin: 2.5rem 2rem 1rem 2.5rem;
    }

    .formName {
      width: 42%;
    }

    .formEmail {
      width: 43%;
    }

    .formSubject {
      width: 86.5%;
    }

    .formMessage {
      width: 86.5%;
      margin: 0 0 0 2.5rem;
    }

    button {
      padding: 0.5rem 4rem 0.5rem 4em;
      margin: 0.25rem 2.1rem 2rem 0;
      cursor: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contactForm {
    margin: 0.8rem 0.5rem 0 0.25rem;

    input {
      margin: 2.5rem 2rem 1rem 2.5rem;
    }

    .formName {
      width: 39.25%;
    }

    .formEmail {
      width: 40%;
    }

    .formSubject {
      width: 81.5%;
    }

    .formMessage {
      width: 81.5%;
      margin: 0 0 0 2.5rem;
    }

    button {
      padding: 0.5rem 4rem 0.5rem 4em;
      margin: 0.25rem 2rem 2rem 0;
      cursor: none;
    }
  }
}
