.barBackground {
  background-color: rgb(188, 112, 115);
  text-align: center;
  height: 100%;
  width: 5%;
  right: 0;
  position: fixed;
  z-index: 1;

  .homeIcon,
  .workIcon,
  .blogIcon,
  .cvIcon,
  .contactIcon {
    color: rgb(13, 11, 12);
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
}

#home {
  text-decoration: none;

  div,
  p {
    opacity: 1;
    transition: 0.6s;
    text-transform: uppercase;
    color: rgb(247, 201, 219);
    font-size: 0.85rem;
  }

  p {
    position: absolute;
    bottom: 23rem;
    right: 0.9rem;
  }
}

#work {
  text-decoration: none;

  div,
  p {
    opacity: 1;
    transition: 0.6s;
    text-transform: uppercase;
    color: rgb(247, 201, 219);
    font-size: 0.85rem;
  }

  p {
    position: absolute;
    bottom: 20.5rem;
    right: 0.9rem;
  }
}

#cv {
  text-decoration: none;

  div,
  p {
    opacity: 1;
    transition: 0.6s;
    text-transform: uppercase;
    color: rgb(247, 201, 219);
    font-size: 0.85rem;
  }

  p {
    position: absolute;
    bottom: 18rem;
    right: 1.6rem;
  }
}

#contact {
  text-decoration: none;

  div,
  p {
    opacity: 1;
    transition: 0.6s;
    text-transform: uppercase;
    color: rgb(247, 201, 219);
    font-size: 0.85rem;
  }

  p {
    position: absolute;
    bottom: 15.7rem;
    right: 0.3rem;
  }
}

.barLogo {
  font-family: "Cutive Mono", monospace;
  color: rgb(247, 201, 219);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 10rem 0;
}

.barSocial {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10rem 0 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .linkedinIcon,
  .githubIcon {
    color: rgb(247, 201, 219);
    margin: 0.25rem;
  }

  .linkedinIcon:hover,
  .githubIcon:hover {
    color: rgb(13, 11, 12);
    transition: 0.4s;
    cursor: pointer;
  }
}

a {
  color: inherit;
}

// -------------------> MEDIA QUERIES

@media only screen and (min-width: 1366px) {
  .barLogo {
    padding: 1rem 0 23rem 0;
  }

  .barSocial {
    padding: 23rem 0 1rem 0;
  }
}

@media only screen and (max-width: 1024px) {
  .barLogo {
    padding: 1rem 0 31rem 0;
  }

  .barSocial {
    padding: 36.25rem 0 1rem 0;

    .linkedinIcon:hover,
    .githubIcon:hover {
      color: rgb(247, 201, 219);
      transition: 1s;
    }
  }

  a {
    color: inherit;
  }
}

#home {
  opacity: 0;

  div,
  p {
    transition: 1s;
  }

  p {
    transition: none;
    bottom: 49.5rem;
    right: 0.5rem;
  }
}

#work {
  opacity: 0;

  div,
  p {
    transition: 1s;
  }

  p {
    bottom: 47rem;
    right: 0.5rem;
  }
}

#cv {
  opacity: 0;

  div,
  p {
    transition: 1s;
  }

  p {
    bottom: 44.5rem;
    right: 1.25rem;
  }
}

#contact {
  opacity: 0;

  div,
  p {
    transition: 1s;
  }

  p {
    bottom: 42rem;
    right: 0.12rem;
    font-size: 0.75rem;
  }
}
