.barBackground {
  background-color: rgb(188, 112, 115);
  text-align: center;
  height: 100%;
  width: 5%;
  right: 0;
  position: fixed;
  z-index: 1;
}

.barLogo {
  font-family: "Cutive Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 0;
}

.barSocial {
  font-family: "Cutive Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
}
