.barBackground {
  background-color: rgb(188, 112, 115);
  text-align: center;
  height: 100%;
  width: 5%;
  right: 0;
  position: fixed;
  z-index: 1;

  .homeIcon,
  .workIcon,
  .blogIcon,
  .cvIcon,
  .contactIcon {
    color: rgb(13, 11, 12);
    font-size: 1.5rem;
    transition: 0.4s;
    margin: 0.5rem;
  }

  .homeIcon:hover,
  .workIcon:hover,
  .blogIcon:hover,
  .cvIcon:hover,
  .contactIcon:hover {
    color: rgb(247, 201, 219);
    cursor: pointer;
  }
}

.barLogo {
  font-family: "Cutive Mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0 9rem 0;
}

.barSocial {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8rem 0 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .linkedinIcon,
  .githubIcon {
    color: rgb(13, 11, 12);
    margin: 0.25rem;
  }

  .linkedinIcon:hover,
  .githubIcon:hover {
    color: rgb(247, 201, 219);
    transition: 0.4s;
    cursor: pointer;
  }
}

a {
  color: inherit;
}
