.cvBackground {
  padding: 1rem 2rem 2.75rem 3rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  z-index: 0;

  .cvResume {
    height: 500px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    right: 16.5%;
    position: absolute;
  }

  a {
    text-decoration: none;
  }

  input {
    background-color: rgb(247, 201, 219);
    color: rgb(13, 11, 12);
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 4rem 0.6rem 4em;
    margin-top: 32.5rem;
    margin-left: 4.75rem;
    width: 73.5%;
    text-transform: uppercase;
    font-family: "Gupter", serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
  }

  input:hover {
    background-color: rgb(13, 11, 12);
    color: rgb(247, 201, 219);
  }
}
