.homepageBackground {
  overflow: auto;
  padding: 1rem 2rem 1rem 2rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.homepageHeading {
  font-family: "Cutive Mono", monospace;
  color: rgb(188, 112, 115);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgb(13, 11, 12);
  animation: typeWriter 2s steps(40) 1s 1 normal both,
    blinkCursor 1s steps(40) infinite normal;

  @keyframes typeWriter {
    from {
      width: 0;
    }
    to {
      width: 14em;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: rgb(13, 11, 12);
    }
    to {
      border-right-color: transparent;
    }
  }
}

.homepageText {
  line-height: 1.75rem;
  font-size: 1.05rem;
  padding-top: 0.5rem;
  margin: 1.05rem;

  p {
    padding-top: 1rem;
  }

  a {
    border-bottom: 2px dotted rgba(188, 112, 115, 0.4);
    color: rgb(188, 112, 115);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    border-bottom: 2px dotted rgba(13, 11, 12, 0.4);
    color: rgb(13, 11, 12);
    transition: 0.4s;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.85rem;
  flex-direction: row;
  text-transform: uppercase;
  padding-top: 1rem;

  li {
    background-color: rgb(188, 112, 115);
    color: rgb(247, 201, 219);
    border-radius: 0.5rem;
    padding: 0.15rem 0.25rem 0.15rem 0.25rem;
    margin: 0.75rem 0.5rem 0 0;
  }
}
