.homepageBackground {
  padding: 1rem 2rem 1rem 2rem;
  height: 100%;
  width: 48%;
  right: 5%;
  position: absolute;
  text-align: justify;
  z-index: 0;
}

.homepageHeading {
  font-family: "Cutive Mono", monospace;
  color: rgb(188, 112, 115);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}

.homepageText {
  line-height: 1.75rem;

  a {
    color: rgb(188, 112, 115);
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
    transition: 0.2s;
  }
}
